@import "./_variables.scss";

h1 {
    font-size: 25px;
}

.accommodations-container {
    // border-bottom-style: solid;
    margin-bottom: -40px;
}

.accommodations-container h2 {
    border-width: 0 0 1px 0;
    border-style: solid;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 24px;
    padding-bottom: 18px;
    padding-top: 12px;
    border-color: $light-gray;
}

.accommodations-panel {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

textarea {
    width: 550px;
    height: 300px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    padding: 6px;
    margin: 3px;
}

button {
    background-color: #e0e0e0;
    border-color: #adadad;
    background-image: linear-gradient(
        to bottom,
        #fff 0,
        #e0e0e0 100%
    );
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #adadad;
    border-radius: 4px;
}