@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
    background: #3C3C3C;
    color: #FFFFFF;
    text-transform: uppercase;
}
h3 {
    background: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    border-radius: 5px;
}
input, option, button {
    background-color: #D8D8D8;
    text-transform: uppercase;
}

.admin-container {
    height: 100vh;
    width: 100%;
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: #3C3C3C;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.admin-menu {
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.panel {
    border: none;
}