@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "./_variables.scss";



body {
    background: $medium-gray;
    color: $white;
}
h3 {
    background: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    border-radius: 5px;
    cursor: pointer;
}

h4 {
    font-family: "Nunito", sans-serif;
}

.admin-container {
    width: 100%;
    font-family: "Nunito", sans-serif;
    color: $white;
    background: $medium-gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.admin-menu {
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.panel {
    border: none;
}

.edit-button {
    border-color: $light-gray;
    height: 24px;
}

.save-button {
    width: 25px;
}