@import "./_variables.scss";

.apartment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.bed-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    margin-top: 10px;
}

.bed {
    background: white;
    height: 65px;
    width: 35px;
    float: left;
}

.dnd-bed {
    text-align:center;
    height: 50px;
    border-radius: 5px;
    margin: 12px;
    padding: 12px;
    align-content: center;
    color: $dark-gray;
    background-color: $light-gray;
}

.dnd-room {
    width: 200px; 
    border-radius: 5px;
    /* margin: 12px; */
    padding: 12px;
    align-content: center;
    color: white;
    background-color: $dark-gray;
}

.apt-number {
    padding: 24px;
}

.apt-holder {
    width: 90%;
    background-color: $bg-gray;
    margin-top:24px;
    text-align:center;
}

.apt-holder h2 {
    font-size: 1.5rem;
    font-weight: bold;
    width: 90%;
    background-color: $bg-gray;
    color: #fff;
}


.apt-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
}

.apt-li {
    margin-left: 24px;
}