@import "./_variables.scss";

.apartment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bed-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    margin-top: 10px;
}

.bed {
    background: white;
    height: 65px;
    width: 35px;
    float: left;
}

.dnd-bed {
    width: 20px;
    height: 50px;
    border-radius: 5px;
    margin: 12px;
    padding: 12px;
    align-content: center;
    color: black;
    background-color: $dark-gray;
}

.dnd-room {
    width: 200px; 
    height: 200px; 
    border-radius: 5px;
    /* margin: 12px; */
    padding: 12px;
    align-content: center;
    color: white;
    background-color: $light-gray;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}