@import "./_variables.scss";

.housing-container {
    width: 30%;
    height: 100%;
    position: relative;
    right: -880px;
    top: -220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;

    li {
        list-style-type: none;
        margin-top: 105px;
    }
}