@import "./_variables.scss";

.housing-container {

    position: fixed;
    right: 3px;
    top: 102px;
    height: 81%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 50px;
    padding-left: 45px;
    padding-top: 90px;

    li {
        list-style-type: none;
        margin-top: 24px;
    }

}

.housing-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $dark-gray;
}

.housing-container::-webkit-scrollbar
{
	width: 12px;
	background-color: $dark-gray;
 
}

.housing-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $bg-gray;
}

.room-holder {
    display: flex;
    justify-content: space-between;
}

.panel-heading {
 background: $bg-gray;
 margin:0;
 padding:0;
}

.panel-body {
    margin: 0;
    padding: 0;
    border-top: none;    
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}

.panel-title {
    border-top: none;
    background: $dark-gray;
    color: $white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    // border-radius: 5px;
    cursor: pointer;
    margin-bottom: -2px;
}

.panel-title:hover {
    background: $blue;
}

.edit-apt {
    width: 24px;
    margin-left: 150px;
}

.panel-container {
    position: relative;
}

.panel-info {
    position: absolute;
}

.panel-settings {
    position: absolute;
    width: 36px;
    opacity: .6;
    margin-top: 8px;
    transition: all .2s
}

.panel-settings:hover {
    opacity: 1;
    transition: all .2s;
}