@import "./_variables.scss";

h3:hover {
    background: $blue;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    text-align: center;
}

.new-admin-container {
    border-bottom-style: solid;
    margin-bottom: -40px;
}

.users-panel {
    color: #000;
    border-radius: 0px;
}

.admin-input-text {
    background-color: $light-gray;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline;
    padding: 6px;
    margin: 3px;
}

.admin-user-list {
  display:flex;
  justify-content: space-around;
  list-style:none;
}

.admin-user-title {
  display:flex;
  justify-content: space-around;
  list-style:none;
  font-weight: bold;
  text-align:center;
  margin-top: 10px;
}

.admin-icon {
    height: 15px;
    width: 15px;
    opacity: .5;
    transition: all .3s;
    margin-top: 12px;
}

.admin-icon:hover {
    opacity: 1;
    transition: all .3s;
    margin-top: 12px;
}

.edit-icon {
    height: 20px;
    width: 20px;
    opacity: .5;
    transition: all .3s;
    margin-top: 12px;
    border-style:none;
    padding:0;
    background: #fff;
}

.edit-icon:hover {
    opacity: 1;
    transition: all .3s;
    margin-top: 12px;
    border-style:none;
    padding:0;
    background: #fff;
}

.admin-li-last {
    padding-left: 91px;
}

.admin-li-email {
    padding-left: 56px;
}

.admin-li-campus {
    padding-left: 24px;
}

.apt-housing-type {
    display: flex;
    justify-content: space-around;
}

.apt-housing-type li {
    padding: 0;
    margin: 0;
}