h3:hover {
    background: #458BCD;
}

ul {
    list-style-type: none;
}

.new-admin-container {
    border-bottom-style: solid;
    margin-bottom: -40px;
}

.users-panel {
    color: #000;
    border-radius: 0px;
}