@import "./_variables.scss";

.walls {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-left: 54px;
}

.panel-body {
    color: #000;
}

.bedroom-container {
    display: flex;
    justify-content: space-around;
}