@import "./_variables.scss";

.modal-header, .modal-footer {
      background: $blue;
      color: #000;
      border-style: none;
}

.modal-body {
  background: $medium-gray;
}

.card-container {
    position: absolute;
}

.student-modal {
    max-width: 350px;
}

.studentcard-button {
    min-width: 300px;
    max-width: 300px;
    height: 100px;
    margin: 10px 25px 10px 25px;
    background-color: $light-gray;
    color: $dark-gray;
    border-radius: 3px;
    text-align:left;
    padding: 12px;
    display: flex;
    align-items: center;
    
}

.studentcard-image {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 12px; 
}

.small-display-name {
    margin-top: -85px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 120px;
    word-wrap: break-word;    
    max-width: 200px;
    max-height: 400px;
}

.small-display-info {
    display: flex;
    justify-content: flex-end;
}

// .student-image-container {

// }

// .student-name-container {

// }

.largecard-image {
    width: 300px;
}