@import "./_variables.scss";

.modal-header, .modal-footer {
      background: $blue;
      color: #000;
      border-style: none;
}

.modal-body {
  background: $medium-gray;
}

.card-container {
    position: absolute;
}

.student-modal {
    max-width: 350px;
}

.studentcard-button {
    min-width: 350px;
    max-width: 350px;
    height: 100px;
    margin: 10px 25px 10px 25px;
}

.studentcard-image {
    border-radius: 50%;
    width: 80px;
    position: relative;
    left: -125px;
    top: -1px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row; 
}

.small-display-name {
    margin-top: -85px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 120px;
    word-wrap: break-word;    
    max-width: 200px;
    max-height: 400px;
}

.small-display-info {
    display: flex;
    justify-content: flex-end;
}

// .student-image-container {

// }

// .student-name-container {

// }

.largecard-image {
    width: 300px;
}