@import url('https://fonts.googleapis.com/css?family=Nunito');

.navbar-container {
    text-transform: uppercase;
    color: #FFFFFF;
    background: #444444;
    display: flex;
    align-items: center;
    justify-content: space-around;
}